.wrap
  = render 'commons/profile_image', user: current_user
  .main
    .container
      .pageTitle
        %h2 ブックマーク
      - @informations.each do |information|
        = render 'commons/informations', information: information

= javascript_pack_tag 'bookmark_index'
