.wrap
  = render 'commons/profile_image', user: current_user
  .main
    .container
      .pageTitleBtn
        %h2 全体連絡
        - if can? :read, @information
          .create
            = link_to new_information_path do
              .create_button
                %p ＋全体連絡作成
      - @informations.each do |information|
        = render 'commons/informations', information: information
  .aside

= javascript_pack_tag 'bookmark_index'
