.wrap
  = render 'commons/profile_image', user: current_user
  .main
    .container
      .pageTitle
        %h2 全体連絡
      - @informations.each do |information|
        = render 'commons/informations', information: information
  .aside
    - if can? :read, @information
      .create
        = link_to new_information_path do
          .create_button
            %p ＋全体連絡作成

= javascript_pack_tag 'bookmark_index'
