@import 'header';
@import 'tabs';
@import 'variables';
@import 'card';
@import 'form';
@import 'buttons';
@import 'profile';
@import 'flash';
@import 'information';
@import 'common';
@import 'already';
@import 'department';
@import 'user_lists';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background-color: $base-bg-color;
  font-size: 1em;
  color: $text-base-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: $text-base-color;
}

.wrap {
  display: flex;
}

.profile {
  width: 350px;
}

.main {
  flex: 1;
}

.container {
  padding: 16px 16px;
  width: 100%;

  &_form {
    padding: 16px 16px;
    width: 600px;
    margin: 0 auto;
  }

  &_min {
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding-top: 150px;
  }
}

.hidden {
  display: none;
}
