@import './variables';

$heart-size: 16px;
$avatar-size: 40px;

.card {
  margin-bottom: 32px;
  border-radius: 1em;
  overflow: hidden;
  background-color: #FFF;

  &_wrap {
    padding: 16px 16px;
  }

  &_detail {
    display: flex;
    align-items: center;
    font-size: 10px;

    img {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 8px;
    cursor: pointer;
    }

    &_user {

      &_name {
        font-size: 14px;
        font-weight: bold;
      }

      &_create {

      }
    }
  }

  &_title {
    margin-top: 10px;
  }

  &_content {
    margin-top: 10px;
  }

  &_image {
    height: 180px;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
}
