@import './variables';

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  &.mini {
    min-width: 100px;
  }
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: $text-base-color;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.pageTitle {
  font-size: 18px;
  margin-bottom: 20px;
  display: inline-block;
}

.pageTitleBtn {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 18px;
  margin-bottom: 20px;

  h2 {
    position: absolute;
    left: 0;
  }
}

.side {
  border-radius: 1em;
  overflow: hidden;
  background-color: #FFF;

  &_line {
    border-top: 4px solid;
    border-color: $base-bg-color;
    margin: 0 10px;
  }

  &_menu {
    display: flex;
    margin: 20px;
    align-items: center;
    
    &_image {
      border-radius: 1em;
      overflow: hidden;

      img {
        vertical-align: middle;
        width: 64px;
        height: 64px;
        object-fit: cover;
      }
    }

    &_text {
      margin-left: 20px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}

.create {
  display: flex;
  justify-content: center;
  align-items: center;

  &_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid $primary-color;
    font-weight: bold;
    padding: 0px 8px;
    background-color: $primary-color;
    cursor: pointer;

      p {
        color: #FFF;
      }
  }
}
