@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;

.header {
  background-color: $primary-color;
  padding: $header-padding-y 16px;
  font-weight: bold;

  &_width {
    max-width: 920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  &_right {
    display: flex;

    &_department {
      color: white;
      line-height: $avatar-size;
      font-size: 18px;
      margin-right: 20px;

      a {
        color: white;
      }
    }
  }

  &_loginBtn {
    background-color: $base-bg-color;
    height: $avatar-size;
    border-radius: 8px;
    font-size: 12px;
    padding: 12px 16px;
    color: $primary-color;
  }

  &_pageTitle {
    color: white;
    line-height: $avatar-size;
    font-size: $font-lg;

    a {
      color: white;
    }
  }

  &_avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
  }
}
