@import 'variables';

$heart-size: 32px;
$avatar-size: 40px;

.information {
    margin-bottom: 32px;
    border-radius: 1em;
    overflow: hidden;
    background-color: #FFF;
  
    &_wrap {
      padding: 16px 16px;
    }
  
    &_detail {
      display: flex;
      align-items: center;
      font-size: 10px;
      position: relative;
  
      &_image {
  
        img {
          width: $avatar-size;
          height: $avatar-size;
          border-radius: 100%;
          margin-right: 8px;
          cursor: pointer;
        }
      }
  
      &_user {
  
        &_name {
          font-size: 14px;
          font-weight: bold;
        }
  
        &_create {
  
        }
      }
  
      &_actions {
        display: flex;
        right: 0px;
        position: absolute;

        &_dorpdown {
          margin-right: 20px;
        }

        &_bookmark {
    
          img {
            width: 24px;
            height: 28px;
            cursor: pointer;
          }
        }
      }
    }
  
    &_title {
      margin-top: 10px;
      font-weight: bold;
      font-size: 20px;
    }
  
    &_content {
      margin-top: 10px;
    }
  
    &_image_three {
      display: flex;
      justify-content: space-around;
      padding: 10px 0;
      
      &_first {
        height: 180px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &_second {
        height: 180px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &_third {
        height: 180px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &_image_two {
      display: flex;
      justify-content: space-around;

      padding: 10px 0;

      &_first {
        height: 180px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      &_second {
        height: 180px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &_image_one {
      padding: 10px 0;

      &_first {
        height: 180px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  
    &_read {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      padding-top: 10px;
      font-size: 14px;

      &_inReadButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 18px;
        border-radius: 4px;
        border: 1px solid $primary-color;
        font-weight: bold;
        padding: 0px 8px;
        cursor: pointer;
    
        a {
          color: $primary-color;
        }
      }

      &_readButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 18px;
        border-radius: 4px;
        border: 1px solid $primary-color;
        background-color: $primary-color;
        font-weight: bold;
        padding: 0px 8px;
        cursor: pointer;
    
        a {
          color: #FFF;
        }
      }
    }

    &_userRead {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 4px solid;
      border-color: $base-bg-color;
      font-size: 14px;

      &_count {
        font-weight: bold;
        color: $primary-color;
        cursor: pointer;
      }
    }
  }
