@import 'variables';

$avatar-size: 50px;

.flex {
  display: flex;
  flex-wrap: wrap;
}

.affiliation {
  background-color: #FFF;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 1em;
}

.lists {
  width: 200px;

  &_detail {
    display: flex;
    align-items: center;
    font-size: 10px;
    position: relative;


    &_image {

      img {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 100%;
        margin-right: 25px;
        cursor: pointer;
      }
    }

    &_user {

      &_name {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
